@import url("fonts.css");
body {
  background: #f4f4f4;
  font-family: 'ProximaNova-Extrabld', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  padding-bottom: 6%;
}

body .blue-corner {
  text-align: center;
  transition: 0.2s;
  position: fixed;
  bottom: -15%;
  right: -10%;
  width: 30%;
  height: 20%;
  transform: rotate(150deg);
  background: #4c72fb;
  z-index: -1;
  color: white;
}

.wrapper {
  overflow: hidden;
}

.grid {
  margin: auto;
  max-width: 978px;
}

.navbar {
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px;
}

.left {
  display: flex;
  align-items: center;
}

.left ul {
  margin: 0 0 0 40px;
  list-style-type: none;
}

.left ul li {
  display: inline-flex;
  align-items: center;
  margin: 0 10px;
  padding: 10px 0;
}

.left ul li a {
  text-decoration: none;
  transition: 0.3s;
  color: #8c909d;
}

.left ul li a:hover {
  color: #4c72fb;
}

.left ul li.active {
  border-bottom: 2px solid #4c72fb;
}

.left ul li.active a {
  color: #4c72fb;
}

.amount {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'ProximaNova-Regular', sans-serif;
  font-size: 10px;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  border-radius: 50%;
  background: #4c72fb;
  color: white;
}

.right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right .user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #4c72fb;
}

.right .user img {
  margin-right: 20px;
}

.right > img {
  margin-left: 80px;
}

.right > img:hover {
  cursor: pointer;
}

section.main {
  z-index: 100;
  margin-top: 40px;
}

section.main .grid {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.left-column {
  display: flex;
  flex-flow: column nowrap;
  width: 41%;
  min-height: 40vh;
}

.left-column h1 {
  font-family: 'ProximaNova-Black', sans-serif;
  color: #4c72fb;
  font-size: 40px;
}

.left-column .row {
  align-items: center;
  margin: 20px 0;
  padding-left: 15px;
}

.left-column .row .item {
  display: flex;
  align-items: center;
  color: #53555d;
}

.left-column .row .item:first-of-type {
  margin-right: 100px;
}

.left-column .row .item .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  background: #53555d;
}

.left-column .row .item .circle img {
  width: 17px;
}

.left-column .row:last-of-type {
  background: #53555d;
  border-radius: 5px;
  height: 80px;
  padding: 20px;
  margin-bottom: 0;
}

.left-column .row .amount {
  margin-right: -45px;
  margin-top: -25px;
  z-index: 100;
  border: 2px solid #f4f4f4;
}

.right-column {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  width: 41%;
  min-height: 40vh;
}

.right-column .calendar {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 80%;
  height: 100%;
  background: #53555d;
  border-radius: 5px;
}

.right-column .calendar .date {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: white;
  font-family: 'ProximaNova-Bold', sans-serif;
  font-size: 18px;
  line-height: 6px;
  padding: 15px;
}

.right-column .calendar .date h1 {
  font-family: 'ProximaNova-Bold', sans-serif;
  line-height: 110px;
  font-size: 110px;
  color: #4e74ff;
  margin: 0 0 -5px 0;
}

.right-column .calendar .table {
  display: flex;
  align-items: center;
  padding: 10px;
}

.right-column .calendar .table table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 80%;
}

.right-column .calendar .table table td {
  font-family: 'ProximaNova-Bold', sans-serif;
  font-size: 14px;
  text-align: center;
  padding: 4px 0;
  border: none;
  color: #4c72fb;
}

.right-column .calendar .table table td:hover {
  cursor: pointer;
}

.right-column .calendar .table table td.active {
  border-radius: 50%;
  background: #4c72fb;
  color: white;
}

.right-column .calendar .table table tr:first-of-type td {
  padding-top: 0;
}
/*# sourceMappingURL=index.css.map */