@import url('fonts.css')

$white: #f4f4f4
$gray: #8c909d
$blue: #4c72fb


body
    background: $white
    font-family: 'ProximaNova-Extrabld', sans-serif
    text-transform: uppercase
    font-size: 12px

.grid
  margin: auto
  max-width: 978px

.navbar
  display: flex
  justify-content: space-between
  align-items: center
  padding: 60px 20px

.left
  display: flex
  align-items: center
  ul
    margin: 0 0 0 60px
    list-style-type: none
    li
      display: inline-flex
      align-items: center
      margin: 0 10px
      padding: 10px 0
      a
        text-decoration: none
        transition: 0.3s
        color: $gray
        &:hover
          color: $blue
    li.active
      border-bottom: 2px solid $blue
      a
        color: $blue 
        
    li.messages
      .amount
        display: flex
        justify-content: center
        align-items: center
        font-family: 'ProximaNova-Regular', sans-serif
        font-size: 10px
        width: 20px
        height: 20px
        margin-left: 10px
        border-radius: 50%
        background: $blue
        color: white

.right
  display: flex
  align-items: center
  justify-content: space-between

  .user
    display: flex
    align-items: center
    justify-content: space-between
    color: $blue
    img
      margin-right: 20px

  > img
    margin-left: 80px
    &:hover
      cursor: pointer
